/* Global Reset */
@font-face {
    font-family: unineue;
    src: url("../fuentes/Uni-Neue/UniNeueRegular.otf");

}

* {
    font-family: unineue, 'Allerta', arial, Tahoma;
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: unineue;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;


    background-image: url("../imagenes/edificio14.jpg");
    background-size: cover;
    /* Hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat;
    /* No repite la imagen */
    background-attachment: fixed;
    /* Fija la imagen de fondo mientras se desplaza el contenido */
    background-position: center center;
    /* Centra la imagen */
}

h3 {
    text-shadow: 1px 1px 1px #fff;
    margin-top: 1vw;
}



h1 {

    font-weight: bold;
    color: #E11C25;
    margin: 1%;
    font-size: 40px;

}

header {}

header nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #EDEDED;
    height: 85px;
    padding: 5px 2%;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 0.3px solid #bdbdbd;*/
    box-shadow: 2px 2px 2px 1px rgba(85, 85, 85, 0.2);
    /*transition: all 1s ease-out 0s;*/
    z-index: 1;


}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s;
}

header .logo img:hover {
    transform: scale(1.2);
}

header .nav-links {

    list-style: none;
}

header .nav-links li {

    display: inline-block;
    padding: 0 0px;
}

header .nav-links li:hover,
.overlay a:hover {}

header .nav-links a {
    font-size: 1.1rem;

    padding: 10px;

    border-radius: 0%;
    margin: 1px;


}

header .nav-links a:hover {}

/*
header .nav-links  .normal{
    color: rgb(174, 19, 19);  
}*/
.propiedades {
    color: #49515d;
    /* background-color: #EFEFEF;*/
    /*   box-shadow: inset 0 0 0 2px rgb(255, 255, 255);*/
}

.propiedades:hover {

    background-color: #E11C25;
    color: #ffffff;


}

.administracion {
    /*  background-color:#E11C25 ;*/
    color: #49515d;
}

.administracion:hover {
    background-color: #EFEFEF;
    color: #0E2141;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
}

.inversiones {
    /*  background-color:#0E2141 ;*/
    color: #49515d;
}

.inversiones:hover {
    background-color: #0E2141;
    color: #ffffff;
}

.normal {

    color: #697384;
}

.normal:hover {
    color: #c4c4c4;
}

.menu-hamburguesa {

    display: none;
}


header button {


    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    color: rgb(168, 168, 168);


}

header .btn button {
    font-size: 5mm;
    padding: 10px 25px;
    background-color: #e4e4e4;
    color: #0E2141;

}


header .btn button:hover {

    color: rgb(19, 20, 20);
    background-color: rgb(202, 202, 202);
    transform: scale(1.1);

}



header .menu-hamburguesa {}

header .menu-hamburguesa button {

    background-color: #EFEFEF;
    padding: 0;
    margin: 10px;
    height: 40px;

}

header .menu-hamburguesa button:hover {
    transform: scale(1.1);

}


header .menu-hamburguesa button img {
    height: 40px;
}





/* Start  styling the page */

.lienzo {
    width: 100%;
    height: 100%;

    color: #444;

    /*     opacity: 0.95; */


    /* display:flex;*/

}

p {
    padding: 5px;
}


.color-rojo {
    /* background-color:#EFEFEF;
    color: #0E2141; */
    background-color: #E11C25;
    color: #EFEFEF;
}

.color-azul {
    background-color: #0E2141;
    color: #EFEFEF;
}

.color-blanco {
    /*   background-color:#E11C25;
    color: #EFEFEF; */
    background-color: #EFEFEF;
    color: #0E2141;
}

.contenedor-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

    color: #444;
    margin: 50px auto;
    padding: 2%;



}

/* .contenedor-azul {


    height: auto;
    background-color: #0E2141;
    color: #444;
    // margin: 20px auto;
    padding: 10px;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;

}
 */

/* .contenedor-azul img {
    width: 100%;
    height: fit-content;
    margin: 2%;
    // padding: 20px;
    display: flex;
    overflow: hidden;
    opacity: none;

} */

.contenedor-blanco {


    height: auto;
    background-color: #EDEDED;
    color: #0E2141;
    /*  margin: 20px auto;*/
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.contenedor-imagenesdetitulos {
    width: 60%;
    height: fit-content;
    display: flex;
    /* align-items: center;*/
    justify-content: center;


}

.contenedor-imagenesdetitulos img {
    width: 80%;
    height: auto;
    margin-bottom: 1vw;
}

.contenedor-administracion {

    width: 100%;
    height: fit-content;

    color: #444;
    /*  margin: 20px auto;*/
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contenedor-administracion .contenedor-imagenesdetitulos {

    padding: 1.5vw 20px 2vw 20px;
}



.contenedor-propiedades {

    width: 100%;
    height: fit-content;

    color: #444;
    /*  margin: 20px auto;*/
    padding: 20px 20px 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 6px;

}


.contenedor-inversiones {

    width: 100%;
    height: fit-content;

    color: #444;
    /*  margin: 20px auto;*/
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}

.contenedor-modular {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* padding: 2vw; */

    gap: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #0E2141;
}




/* --- Estilos tarjetas administración --- */
.contenedor-cards-administracion {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
    margin: 3vw 4vw;


}

.tarjeta-servicio-administracion {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    color: #333;
    text-align: center;
    border-color: #555;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    /* min-width: 230px; */
    max-width: 310px;
    margin: 0 auto;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.tarjeta-servicio-administracion:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.tarjeta-servicio-administracion .titulo-servicio {
    font-size: 1.2rem;
    color: #0E2141;
    margin-bottom: 15px;
    font-weight: 700;

}

.tarjeta-servicio-administracion .descripcion-servicio-admin {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.6;
}

/* Fin Estilos tarjetas administración */







/* --- Estilos Misión Inversiones --- */
.seccion-mision-inversiones {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 20px 40px 40px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 40px;
}

.titulo-mision-inversiones {
    font-size: 1.8rem;
    color: #0E2141;
    /* Color azul de la paleta */
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: none;
    /* Quitamos la sombra de texto global para este título */
}

.texto-mision-inversiones {
    color: #444;
    font-size: 1.05rem;
    line-height: 1.8;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0;
}






/* Fin Estilos Misión Inversiones */

.contenedor-contacto {
    height: auto;
    background-color: #e4e4e4;
    color: #0E2141;
    /*  margin: 20px auto;*/
    padding: 2%;
    /* border-top: 1px groove #b8b8b8;*/
    object-fit: cover;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;


}



.datosdecontacto {
    padding: 2%;
    border-top: 1px groove #b8b8b8;


}

.datosdecontacto p {
    text-align: center;
    font-size: 18px;
    padding: 2%;
    margin: 2%;

}



.redessociales {
    padding: 2%;
}

.logosredes img {
    width: 50px;
    margin: 25px;
    transition: all ease-in-out 0.2s;

    filter: brightness(70%) grayscale(99%);

}

.logosredes img:hover {
    filter: brightness(0.9);

}

/* ALINEACION TEXTO */


footer {
    background: #242424;
    color: #0E2141;
    border-top: 4px solid #0E2141;

}

footer .contenedor-pie p {
    padding: 25px 0;
    width: 85%;

    margin: auto;
    font-size: small;

}

.pie {
    text-align: center;
    color: #EFEFEF;
}


.texto-web {
    /*     color: #EFEFEF;

    background-color: transparent;

    border: 2px solid #FFFFFF;
  
    padding: 10px 20px;
   
    display: inline-block;

    font-size: 16px;
   
    font-family: 'Allerta', sans-serif;
   
    text-align: center; */


    text-decoration: none;
    /* Eliminar subrayado del enlace */
}

.servicios-ocultos {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    opacity: 0;
    transition: max-height 0.7s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.servicios-visibles {
    width: 100%;
    max-height: 10000px;
    /* Un valor suficientemente grande para mostrar todo el contenido */
    opacity: 1;
    transform: translateY(0);
}

.ver-mas-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-top: 35px; */
}

.btn-ver-mas {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all ease-in-out 0.2s;
    text-decoration: none;

}



.arrow-indicator {
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
    margin-top: 10px;
    animation: 3s fade-and-move 2s infinite;
    transition: transform 1.4s ease-in-out;
}

.arrow-hidden {

    opacity: 0;
    animation: none;
}

.arrow-indicator.up {
    transform: rotate(180deg);
    animation: none;
    /* Detenemos la animación de rebote cuando apunta hacia arriba */
}

@keyframes fade-and-move {
    0% {
        opacity: 1;
        transform: translateY(-10px);
    }

    50% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.btn-ver-mas:hover {
    /* background-color: rgb(6, 22, 47); */
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;

}

ul {
    list-style: none;
    padding: 0px;
    margin: 10px;
}

li {
    margin: 0px 0;
    padding: 0;
}


.enlace-web {
    display: block;
    transition: all ease-in-out 0.2s;
}

.enlace-web:hover {
    transform: scale(1.1);
    background-color: #aa0f17;
}

;


/* Cambios en el por encima de los 800px */
@media screen and (min-width:800px) {


    .contenedor-principal {
        display: flex;
    }

    .contenedor-modular {
        width: 100%;
    }

    .contenedor-contacto {
        font-size: 18px;
    }


}

/* Inicio barra de navegacion Nav*/
/* Cambios en el por debajo de los 800px */
@media screen and (max-width:800px) {
    body {

        font-size: 15px;

    }

    .datosdecontacto p {

        font-size: 12px;


    }

    .nav-links,
    .btn {
        display: none;
    }

    .menu-hamburguesa {
        display: inherit;
    }

    .contenedor-principal {
        display: block;

    }

    .contenedor-modular {
        width: 100%;
    }

    .contenedor-contacto {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    .contenedor-imagenesdetitulos {
        width: 80%;
        height: fit-content;
        display: flex;
        /* align-items: center;*/
        justify-content: center;


    }

    .contenedor-imagenesdetitulos img {
        width: 90%;
        height: auto;

    }



    .contenedor-administracion {
        padding: 20px 20px 20px 20px;

    }

    .contenedor-administracion .contenedor-imagenesdetitulos {

        padding: 4vw 20px 2vw 20px;
    }


    .contenedor-propiedades {

        padding: 20px 20px 45px 20px;
    }


    .contenedor-inversiones {

        padding: 20px 20px 20px 20px;

    }



    .logosredes img {
        width: 40px;
        margin: 15px;
    }


}


/* Cambios por debajo de los 500px */
@media screen and (max-width:500px) {
    header nav {
        height: 60px;
    }

    header .logo img {
        height: 50px;
        width: auto;
    }

    header .menu-hamburguesa button {
        height: 30px;
    }

    header .menu-hamburguesa button img {
        height: 30px;
    }

    body {

        font-size: 15px;
    }

    .datosdecontacto p {
        text-align: center;
        /*  text-align: left; */
        font-size: 12px;

    }


    .logosredes img {
        width: 40px;
        margin: 5vw 3vw;

    }

    .emails {
        width: 100%;

    }

    h1 {
        font-size: 20px;
    }

    .contenedor-imagenesdetitulos {
        width: 100%;
        height: fit-content;
        display: flex;
        /* align-items: center;*/
        justify-content: center;

    }

    .contenedor-imagenesdetitulos img {
        width: 95%;
        height: auto;
        margin-bottom: 1vw;
    }





}


/* Cambios por encima de los 500px */
@media screen and (min-width:500px) {


    .emails {
        width: 50%;
        margin: auto;
    }

}

header a {
    text-decoration: none;
    margin: 0;
}

header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #071628;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

header .overlay .overlay-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;


}

header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    width: 100%;

}

header .overlay a:hover,
header .overlay a:focus {

    transform: scale(1.1);
}

header .overlay .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 65px;
    width: auto;



}

@media screen and(max-height:450px) {

    header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Fin barra de navegacion Nav*/

.titulo-principal-administracion {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0E2141;
    background-color: #acb3c1;
    padding: 1%;
    border-radius: 10px;
    max-width: 70vw;
    margin: 20px auto 2.5vw;
}


.descripcion-principal-administracion {
    font-size: 1.8rem;
    line-height: 1.8;
    max-width: 70vw;
    margin: 0 auto 0px;
    opacity: 0.95;
}

.tarjeta-servicio-administracion ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #E11C25;
    /* Color rojo de la paleta */
}

/* --- Estilos sección Propiedades --- */
.titulo-principal-propiedades {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0E2141;
    background-color: #acb3c1;
    padding: 1%;
    border-radius: 10px;
    max-width: 70vw;
    margin: 50px auto 10px;
}


/* --- Estilos sección Inversiones --- */
.encabezado-seccion {
    margin: 2vw;
    text-align: center;
    margin-bottom: 30px;

}

.titulo-principal-inversiones {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0E2141;
    background-color: #acb3c1;
    padding: 1%;
    border-radius: 10px;
    max-width: 70vw;
    margin: 0 auto 10px;
}

.descripcion-principal-inversiones {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 60vw;
    margin: 0 auto 30px;
    opacity: 0.95;
}

.destacado-inversiones {
    font-weight: 600;
    color: #5685ff;
    /* Color rojo de la paleta */
}

.contenedor-badges {
    text-align: center;
    margin: 30px 0;
}

.badge-regulacion {
    display: inline-block;
    background: #EFEFEF;
    /* Color blanco de la paleta */
    color: #0E2141;
    /* Color azul de la paleta */
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    margin: 10px 5px;
}

.contenedor-cards-inversiones {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.tarjeta-servicio-inversiones {
    background: white;
    border-radius: 15px;
    padding: 35px;
    flex: 1 1 calc(33.333% - 30px);
    min-width: 280px;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    color: #333;
}

.tarjeta-servicio-inversiones::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #E11C25;
    /* Color rojo de la paleta */
}

.tarjeta-servicio-inversiones:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.icono-servicio {
    font-size: 28px;
    margin: 10px;
}

.tarjeta-servicio-inversiones .titulo-servicio {
    font-size: 1.5rem;
    color: #0E2141;
    /* Color azul de la paleta */
    margin-bottom: 15px;
    font-weight: 700;
}

.tarjeta-servicio-inversiones .descripcion-servicio {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.7;
}

@media (max-width: 768px) {
    .tarjeta-servicio-inversiones {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .titulo-principal-administracion {
        font-size: 1.2rem;
        max-width: 90vw;
    }

    .titulo-principal-propiedades {
        font-size: 1.2rem;
    }

    .titulo-principal-inversiones {
        font-size: 1.2rem;
        max-width: 90vw;
    }

    .descripcion-principal-inversiones {
        font-size: 0.95rem;
        max-width: 80vw;
        margin: 0 auto 30px;
    }

    .descripcion-principal-administracion {
        font-size: 0.95rem;
        max-width: 80vw;

    }

    .seccion-mision-inversiones {

        padding: 30px 40px 40px;

    }

    h1 {
        margin-top: 10px;
    }
}